.title{
    background-color: #252525;
    display: flex;
    justify-content: center;
    width:70% ;
    margin-left: 14.5%;
    position: fixed;
    top: 0;
    border-radius: 10px;
}

.title h1{
    font-family: Jaro  ;
    font-size: 1cm;
    color: #FFA600;
}

.div-btn-github{
    /* border: solid black; */
    margin-top: 2%;
    display: flex;
    place-content: center;
}

/* consejo --> añadir media queries */

