.main-div{
    /* border: solid black; */
    /* height: 80vh; */
}

.timer-section{
    background-color: #ffa600;
    width: 50%;
    height: 30dvh;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin: 11% 0% 0% 23%;
    border-radius: 18px;
    border: solid slateblue;
    border-width: 1.5dvh;
}
.timer-section h2{
    font-family: jaro;
    font-size: 1.5cm;
    font-weight: 100;
}

.buttonsZone{
    /* border: solid black; */
    display: flex;
    place-content: center;
    margin: 10% 0 0 0%;
    gap: 20%;
}