.Buttons{
    background-color: #252525;
    height: fit-content;
    color: #fff;
    font-family: Jaro;
    font-size: .8cm;
    width: 6em;
    color: #FFA600;
    transition: .5s;
}

.Buttons:hover{
    cursor: pointer;
    color: #00e39f;

}