.SideBarSection{
    /* border: solid green; */
    background-color: rebeccapurple;
    height: 80dvh;
    width: 30dvh;
    margin-left: -20%;
    transition: .6s;
    border: solid black;
    border-radius: 10px;
    font-family: jaro;
    font-weight: 100;
    /* display: flex; */
}

.SideBarSection:hover{
    margin-left: -0.9%;
    /* cursor: pointer; */
}